@import "reset";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";

html,
body,
#root {
  overflow-x: hidden;
  width: 100%;
  font-size: 62.5%
}

.app {
  font: var(--font-m);
  color: var(--font-color);
  background: var(--bg-color);
}

::-webkit-scrollbar {
  width: .6rem;
  background: #ffdfdf;
  border-radius: 2rem;
}

::-webkit-scrollbar:horizontal {
  height: 1rem;
  background: #ffdfdf;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 2rem;
}