.LoginForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding-top: 5px;
    border-top: 2px solid var(--third-color);
}