.Button_remove_task {
    background-color: var(--primary-color);
    border: none;
}

.remove_icon {
    opacity: 50%;
    vertical-align: bottom;
    cursor: pointer;
}

.remove_icon:hover {
    opacity: 100%;
}