.Header {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.8fr 0.5fr;
    // flex-direction: row;
    width: 100%;
    justify-items: center;
    position: absolute;
    top: 20px;
    // align-items: end;
}

.contextButtons{
    display: flex;
    flex-direction: column;
    gap: 30px;
}