
.ThemeSwitcher{
    outline: none;
    border:none;
    order: 9;

	position: relative;
	display: flex;
	justify-content: space-between;

	width: 70px;
	height: 36px;
	padding: 5px;

	border-radius: 50px;
	background-color: var(--third-color);

	cursor: pointer;
}

.ThemeSwitcher::before{
	content: '';

	position: absolute;
	top: 3px;
	left: 3px;

	display: block;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	background-color: #fff;

	transition: left 0.2s ease-in;

    // text-align: center;
}

.active::before{
    content: '';
    left: 36px;
}

.Text{
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 1;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    width: 45%;
}