.TodoGroups{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 15px;
}

.newGroup_btn{
    height: 60px;
    width: 350px;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px black solid;
    padding: 4px;
    background-color: var(--primary-color);
    // --tw-ring-color: rgb(37, 107, 176); //! 
    // display: flex;
    // gap: 2px;

    border-color: var(--secondary-color);
    color: var(--font-color);
}

.portal{
    font: var(--font-m);
    color: var(--font-color);
}

.NewTodo{
        
background-color: #fff;
}
