

.app_theme_dark{
    --bg-color: rgb(0, 0, 0);
    --inverted-bg-color: rgb(255, 255, 255);
    
    --primary-color:#0D1117;
    --secondary-color:rgb(45, 49, 54);
    
    --third-color: #FAAD14;
    --font-color: rgb(255, 255, 255);
}