.MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; //
    margin: auto; //
    // width: 100%; // если вернуть, то горизонтальный скролл не вместит всё содержимое страницы при добавлении новых групп
    align-items: center; //
    // overflow-x: scroll; //
    overflow-y: hidden; //
    padding-left: 40px;
    padding-right: 40px;

    // pointer-events: none;
}

.content_container {
    // display: flex;
    // flex-direction: row;
    // margin: auto;
    // gap: 4px;
}

.Header {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.8fr 0.5fr;
    // flex-direction: row;
    width: 100%;
    justify-items: center;
    position: absolute;
    top: 20px;
    // align-items: end;
}

.FindTodo{
    // width: 15%;
}

.FilterAccomplishmentBtns{
    width: 50%;
}

.contextButtons{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todoGroups{
    // pointer-events: none;
}