.MainPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; //
    margin: auto; //
    // width: 100%; // если вернуть, то горизонтальный скролл не вместит всё содержимое страницы при добавлении новых групп
    align-items: center; //
    // overflow-x: scroll; //
    overflow-y: hidden; //
    padding-left: 40px;
    padding-right: 40px;

    // pointer-events: none;
}

// .FilterAccomplishmentBtns{
//     width: 50%;
// }

// .contextButtons{
//     display: flex;
//     flex-direction: column;
//     gap: 30px;
// }

// .TodoGroups{
//     display: flex;
//     flex-direction: row;
//     margin: auto;
//     gap: 15px;
// }

.portal{
    font: var(--font-m);
    color: var(--font-color);
}
