.LoginModal {

    display: flex;
    flex-direction: column;

    gap: 40px;

    
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;


    padding-top: 5px;
    border-top: 2px solid var(--third-color);
}

.form {
    // border: 3px var(--third-color) solid;
}

