@import '../../app/Styles/themes/dark.scss';
@import '../../app/Styles/themes/light.scss';
@import '../../app/Styles/variables/global.scss';

.Task{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 120px;
    min-height: 120px;
    padding: 0.625rem;
    padding-bottom: 1.25rem;
    align-items: center;
    text-align: left;
    border-radius: 0.75rem;
    position: relative;
    background-color: var(--primary-color);
    border: 1px black solid;
    max-width: 100%;
    border: var(--primary-color) 3px solid;
    cursor: grab;
}

.Task_edited{
    @extend .Task;
    cursor: text; 
}

.Task:hover{
    border:var(--third-color) 3px solid;
}



.checkbox{
    position: absolute;
    left: 10px;
    bottom: 5px;
    // align-self: flex-start;
}

.select{
    position: absolute;
    bottom: 5px;
    left: 80px;
}

.select:focus{
    border: red;
}


.placeholder {
    box-sizing: border-box;
    background-color: #edf2f7;
    border: 2px dashed #cbd5e0;
    // margin-bottom: 1rem;
}

.Todo_dragging{
    @extend .Task;
    border: var(--third-color) 3px solid;
    opacity: 50%;
    z-index: 100;
}

.todo_text{
    margin: 0;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    line-height: 1.1rem; //! настроить глобально?
}

.Button_remove_task{
    position: absolute;
    bottom: 3px;
    right: 0;
    // height: 20px;
    fill: red;
}
