@import '../../app/Styles/themes/dark.scss';
@import '../../app/Styles/themes/light.scss';
@import '../../app/Styles/variables/global.scss';

.Task{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 15rem;
    min-height: 15rem;
    padding: 0.8rem;
    padding-bottom: 1.25rem;
    align-items: center;
    text-align: left;
    border-radius: 0.75rem;
    position: relative;
    background-color: var(--primary-color);
    border: .1rem black solid;
    max-width: 100%;
    border: var(--primary-color) .3rem solid;
    cursor: grab;
}

.Task_edited{
    @extend .Task;
    cursor: text; 
}

.Task:hover{
    border:var(--third-color) .3rem solid;
}

.select:focus{
    border: red;
}

.placeholder {
    box-sizing: border-box;
    background-color: #edf2f7;
    border: .2rem dashed #cbd5e0;
}

.Todo_dragging{
    @extend .Task;
    border: var(--third-color) .3rem solid;
    opacity: 50%;
    z-index: 100;
}

.todo_text{
    margin: 0;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    line-height: 1.6rem;
}

.Button_remove_task{
    position: absolute;
    bottom: .5rem;
    right: 0;
    fill: red;
}
